accelerate
airportsdata
annotated-types
anyio
asttokens
attrs
certifi
charset-normalizer
cloudpickle
openai
comm
contourpy
cycler
debugpy
decorator
diskcache
exceptiongroup
executing
filelock
fonttools
fsspec
genson
geopandas
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
ipykernel
ipython
iso3166
jedi
jinja2
jsonpath-ng
dotenv
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
kiwisolver
markupsafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
networkx
numpy
ollama
outlines
outlines-core
packaging
pandas
osmnx
sumolib